h1{
    background-color: rgb(0, 0, 0);
color: white;
text-align: center;

}
header{
    text-align: center;
}
body{
    background-color: rgb(38, 179, 235)

}

footer{
    text-align: center;
}
   input{
    text-align: center;
   }
