*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url("https://images.pexels.com/photos/2775196/pexels-photo-2775196.jpeg?cs=srgb&dl=pexels-roberto-nickson-2775196.jpg&fm=jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
header{
    text-align: center;
}
.inicio{
    background: none;
    position: relative;
    right: 280px;
    border-top: 5px;
    border-left: 5px;
    border-right: 5px;
    
}
.portifolio{
background: none;
margin: 6px;
border-top: 5px;
border-left: 5px;
border-right: 5px;

}
.contatos{
    background: none;
    position: relative;
    left: 280px;
    border-top: 5px;
    border-left: 5px;
    border-right: 5px;
}
.corpo{
margin: 10px;
padding: 10px;
text-align: center;
}

.roda-pe{
    position: relative;
    text-align: center;
    
}
.titulo{
    font-style: italic;
}

.texto-de-baixo{
    text-align: center;
}
img{
    width: 25px;

}
.git{

margin: 10px;

}
p{
    font-size: 30px;
}

.blackjack{
    width: 100px;
   position: relative;
margin-left: 30vw;

}

.loja{

    width: 100px;
    position: relative;
 margin-left: 30vw;
 
}

.projetos{
text-align: center;
 
}

#projeto1{

margin-left: 29vw;
font-family: Roboto;
font-size: 20px;
}

#projeto2{
  
margin-left: 29vw;
  font-family: Roboto;
font-size: 20px;
}

.inicio, .portifolio, .contatos{
    cursor: pointer;

}